.Bomb {
    position: absolute;
    background: url(../assets/bomb.png) center center no-repeat;
    background-size: contain;
    border-radius: 50%;
    z-index: 1;
    animation: thump 1s infinite;
}

.Explosion {
    z-index: 2;
    animation: explode 1s steps(10, end) forwards;
    background-size: contain;
    background-repeat: no-repeat;
}

@keyframes thump {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes explode {
    0% {
        background-image: url(../assets/Explosion_1.png);
        transform: scale(0.5);
        opacity: 1;
    }
    10% {
        background-image: url(../assets/Explosion_2.png);
        transform: scale(0.7);
        opacity: 1;
    }
    30% {
        background-image: url(../assets/Explosion_4.png);
        transform: scale(0.9);
        opacity: 1;
    }
    70% {
        background-image: url(../assets/Explosion_8.png);
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        background-image: url(../assets/Explosion_10.png);
        transform: scale(1.3);
        opacity: 0;
    }
}
