#game_container {
    position: relative;
    background-color: #40042c;
    width: 90vmin;
    height: 90vmin;
    border: 2px solid white;
    background-color: #222;
}

/* .cell {
    border: 1px solid green;
} */

.Wall {
    background: url(../assets/Wall.png);
    background-size: contain;
}

.Block {
    background: url(../assets/Icons_02.png);
    background-color: #40042c;
    background-size: contain;
}

.Empty {
    background: url(../assets/empty.png);
    background-size: contain;
}